<table class="min-w-full">
  <thead class="bg-white">
    <tr>
      <th scope="col" class="w-1/4 py-3.5 pl-4 pr-3 text-left font-medium text-gray-900 sm:pl-3">Compétence</th>
      <th scope="col" class="w-1/2 px-3 py-3.5 text-left font-medium text-gray-900">Description</th>
      <th scope="col" class="w-1/5 px-3 py-3.5 text-left font-medium text-gray-900">Niveau</th>
      <th scope="col" class="relative w-fit py-3.5 pl-3 pr-4 sm:pr-3">
        <span class="sr-only">Edit</span>
      </th>
    </tr>
  </thead>

  <tbody class="bg-white *:border-t *:border-gray-200">
    <!-- Competency 1-->
    <tr class="">
      <th colspan="1" scope="colgroup" class="h-10 bg-gray-50">
        <div class="mx-3 h-4 w-2/3 animate-pulse rounded-full bg-gray-200"></div>
      </th>
      <th colspan="3" scope="colgroup" class="h-12 bg-gray-50">
        <div class="mx-3 h-4 w-1/2 animate-pulse rounded-full bg-gray-200"></div>
      </th>
    </tr>
    <tr class="">
      <th colspan="1" scope="colgroup" class="h-12">
        <div class="mx-3 h-4 w-2/5 animate-pulse rounded-full bg-gray-100"></div>
      </th>
      <th colspan="3" scope="colgroup" class="h-12">
        <div class="mx-3 h-4 w-3/5 animate-pulse rounded-full bg-gray-100"></div>
      </th>
    </tr>
    <tr class="">
      <th colspan="1" scope="colgroup" class="h-12">
        <div class="mx-3 h-4 w-3/5 animate-pulse rounded-full bg-gray-100"></div>
      </th>
      <th colspan="3" scope="colgroup" class="h-12">
        <div class="mx-3 h-4 w-1/4 animate-pulse rounded-full bg-gray-100"></div>
      </th>
    </tr>
    <tr class="">
      <th colspan="1" scope="colgroup" class="h-12">
        <div class="mx-3 h-4 w-1/5 animate-pulse rounded-full bg-gray-100"></div>
      </th>
      <th colspan="3" scope="colgroup" class="h-12">
        <div class="mx-3 h-4 w-2/3 animate-pulse rounded-full bg-gray-100"></div>
      </th>
    </tr>
    <tr class="">
      <th colspan="1" scope="colgroup" class="h-12">
        <div class="mx-3 h-4 w-2/5 animate-pulse rounded-full bg-gray-100"></div>
      </th>
      <th colspan="3" scope="colgroup" class="h-12">
        <div class="mx-3 h-4 w-1/3 animate-pulse rounded-full bg-gray-100"></div>
      </th>
    </tr>
    <tr class="">
      <th colspan="1" scope="colgroup" class="h-12">
        <div class="mx-3 h-4 w-3/5 animate-pulse rounded-full bg-gray-100"></div>
      </th>
      <th colspan="3" scope="colgroup" class="h-12">
        <div class="mx-3 h-4 w-1/4 animate-pulse rounded-full bg-gray-100"></div>
      </th>
    </tr>

    <!-- Competency 2-->
    <tr class="">
      <th colspan="1" scope="colgroup" class="h-12 bg-gray-50">
        <div class="mx-3 h-4 w-2/3 animate-pulse rounded-full bg-gray-200"></div>
      </th>
      <th colspan="3" scope="colgroup" class="h-12 bg-gray-50">
        <div class="mx-3 h-4 w-1/2 animate-pulse rounded-full bg-gray-200"></div>
      </th>
    </tr>
    <tr class="">
      <th colspan="1" scope="colgroup" class="h-12">
        <div class="mx-3 h-4 w-3/5 animate-pulse rounded-full bg-gray-100"></div>
      </th>
      <th colspan="3" scope="colgroup" class="h-12">
        <div class="mx-3 h-4 w-1/4 animate-pulse rounded-full bg-gray-100"></div>
      </th>
    </tr>
    <tr class="">
      <th colspan="1" scope="colgroup" class="h-12">
        <div class="mx-3 h-4 w-2/5 animate-pulse rounded-full bg-gray-100"></div>
      </th>
      <th colspan="3" scope="colgroup" class="h-12">
        <div class="mx-3 h-4 w-3/5 animate-pulse rounded-full bg-gray-100"></div>
      </th>
    </tr>
    <tr class="">
      <th colspan="1" scope="colgroup" class="h-12">
        <div class="mx-3 h-4 w-3/5 animate-pulse rounded-full bg-gray-100"></div>
      </th>
      <th colspan="3" scope="colgroup" class="h-12">
        <div class="mx-3 h-4 w-1/4 animate-pulse rounded-full bg-gray-100"></div>
      </th>
    </tr>
    <tr class="">
      <th colspan="1" scope="colgroup" class="h-12">
        <div class="mx-3 h-4 w-2/5 animate-pulse rounded-full bg-gray-100"></div>
      </th>
      <th colspan="3" scope="colgroup" class="h-12">
        <div class="mx-3 h-4 w-1/3 animate-pulse rounded-full bg-gray-100"></div>
      </th>
    </tr>

  </tbody>
</table>
