<div class="flex min-h-full items-center justify-center bg-primary-50 px-6 py-12 lg:px-8">
  <div class="flex w-1/2 max-w-4xl overflow-hidden rounded-2xl border bg-white px-6 shadow">
    <!-- Container for the form -->
    <div class="w-full p-10">
      <h2 class="mb-10 text-center text-2xl font-bold text-gray-900">Sign up</h2>
      <form class="space-y-6" [formGroup]="registerForm" (ngSubmit)="createAccount()">
        <!-- Email Input -->
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
          <input
            id="email"
            type="email"
            autocomplete="email"
            formControlName="email"
            class="block w-full rounded-md border-0 bg-transparent py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-primary-300/100 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6"
          />
          @if (registerForm.get("email")?.errors && registerForm.get("email")?.touched) {
            <label class="text-sm font-medium text-red-600">Vous devez saisir un email valide</label>
          }
        </div>

        <!-- Profile Name Input -->
        <div>
          <label for="profileName" class="block text-sm font-medium leading-6 text-gray-900">Profile Name</label>
          <input
            id="profileName"
            type="text"
            autocomplete="profileName"
            formControlName="profileName"
            class="block w-full rounded-md border-0 bg-transparent py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-primary-300/100 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6"
          />
          @if (registerForm.get("profileName")?.errors && registerForm.get("profileName")?.touched) {
            <label class="text-sm font-medium text-red-600">Vous devez saisir un nom valide</label>
          }
        </div>

        <!-- Password Input -->
        <div>
          <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
          <input
            id="password"
            type="password"
            autocomplete="password"
            formControlName="password"
            class="block w-full rounded-md border-0 bg-transparent py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-primary-300/100 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6"
          />
          @if (registerForm.get("password")?.errors && registerForm.get("password")?.touched) {
            <label class="text-sm font-medium text-red-600">Un mot de passe fort est obligatoire</label>
          }
        </div>

        <!-- Confirm Password Input -->
        <div>
          <label for="confirmPassword" class="block text-sm font-medium leading-6 text-gray-900">Confirm Password</label>
          <input
            id="confirmPassword"
            type="password"
            autocomplete="confirmPassword"
            formControlName="confirmPassword"
            class="block w-full rounded-md border-0 bg-transparent py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-primary-300/100 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6"
          />
          @if (registerForm.get("confirmPassword")?.errors && registerForm.get("confirmPassword")?.touched) {
            <label class="text-sm font-medium text-red-600">Vous le faites exprès ?</label>
          }
        </div>

        <!-- Terms and Conditions Checkbox -->
        <div class="flex items-start">
          <div class="flex h-5 items-center">
            <input
              id="terms"
              type="checkbox"
              formControlName="terms"
              class="h-4 w-4 rounded border-primary-300/100 bg-transparent focus:ring-primary-500"
            />
          </div>
          <div class="ml-3 text-sm">
            <label for="terms" class="font-medium text-gray-900">I accept the Terms and Conditions</label>
          </div>
        </div>

        <!-- Submit Button -->
        <button
          type="submit"
          class="flex w-full justify-center rounded-md border border-transparent bg-primary-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2"
        >
          Register
        </button>
      </form>

      <!-- Login Link -->
      <p class="mt-6 text-center text-sm text-gray-600">
        Already have an account? <a (click)="redirectToLogin()" class="text-primary-600 hover:text-primary-500 hover:cursor-pointer">Login instead</a>
      </p>
    </div>
  </div>
</div>
