<div class="flex min-h-full items-center justify-center px-6 py-12 lg:px-8 bg-pink-50">
  <div class="flex max-w-4xl w-full bg-pink-300/20 rounded-[54px] shadow border border-pink-300/100 overflow-hidden">
    <!-- Container for the image -->
    <div class="hidden lg:block lg:w-1/2 bg-cover bg-center bg-no-repeat p-4" style="background-image: url('assets/Login.png'); background-size: 80%;">
      <!-- Background image on the left side -->
    </div>

    <!-- Container for the form -->
    <div class="w-full lg:w-1/2 p-10">
      <h2 class="text-gray-900 mb-10 text-center text-2xl font-bold">Login</h2>
      <form class="space-y-6" action="#" method="POST">
        <div>
          <label for="email" class="text-gray-900 block text-sm font-medium leading-6">Email address</label>
          <div class="mt-2">
            <input
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              required
              [(ngModel)]="email"
              class="text-gray-900 ring-pink-300/100 block w-full rounded-md border-0 bg-transparent py-1.5 shadow-sm ring-1 ring-inset placeholder:text-gray-400 focus:ring-primary-600 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
            />
          </div>
        </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="text-gray-900 block text-sm font-medium leading-6">Password</label>
          <div class="text-sm">
            <a (click)="forgotPassword()" class="text-primary-600 cursor-pointer font-semibold hover:text-primary-500"
              >Forgot password?</a
            >
          </div>
        </div>
        <div class="mt-2">
          <input
            id="password"
            name="password"
            type="password"
            autocomplete="current-password"
            required
            [(ngModel)]="password"
            class="text-gray-900 ring-pink-300/100 block w-full rounded-md border-0 bg-transparent py-1.5 shadow-sm ring-1 ring-inset placeholder:text-gray-400 focus:ring-primary-600 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <div>
        <button
          type="submit"
          (click)="login()"
          class="text-white bg-primary-600 flex w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 shadow-sm hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600"
        >
          Sign in
        </button>
      </div>
    </form>

    <p class="text-gray-900 mt-10 text-center text-sm">
      No account?
      <a (click)="register()" class="text-primary-600 cursor-pointer font-semibold leading-6 hover:text-primary-500"
        >Register instead</a
      >
    </p>
  </div>
</div>
