<div class="flex h-full min-h-full w-full flex-col justify-center bg-primary-50 py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=primary&shade=600" alt="Your Company" />
    <h2 class="text-gray-900 mt-6 text-center text-2xl font-bold leading-9 tracking-tight">Connectez-vous</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12 !transition-all">
      <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
          <label for="email" class="text-gray-900 block text-sm font-medium leading-6">Identifiant Isep ou adresse email</label>
          <div class="mt-2">
            <input
              id="email"
              type="email"
              autocomplete="email"
              formControlName="email"
              class="text-gray-900 ring-gray-300 placeholder:text-gray-400 block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6"
            />
          </div>
          @if (loginForm.get("email")?.errors && loginForm.get("email")?.touched) {
            <label class="text-sm font-normal text-red-600">Un identifiant ou email valide est obligatoire</label>
          }
        </div>

        <div>
          <label for="password" class="text-gray-900 block text-sm font-medium leading-6">Mot de passe</label>
          <div class="mt-2">
            <input
              id="password"
              type="password"
              autocomplete="password"
              formControlName="password"
              class="text-gray-900 ring-gray-300 placeholder:text-gray-400 block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6"
            />
          </div>
          @if (loginForm.get("password")?.errors && loginForm.get("password")?.touched) {
            <label class="text-sm font-normal text-red-600">Un mot de passe est obligatoire</label>
          }
        </div>

        <div class="flex items-center justify-between">
          <div class="text-sm leading-6">
            <a (click)="forgotPassword()" class="cursor-pointer font-semibold text-primary-600 hover:text-primary-500"
              >Mot de passe oublié ?</a
            >
          </div>
        </div>

        <div>
          <button
            type="submit"
            class="flex w-full justify-center rounded-md bg-primary-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600"
          >
            Se connecter
          </button>
        </div>
      </form>
    </div>

    <p class="text-gray-500 mt-10 text-center text-sm">
      Pas de compte ?
      <a (click)="register()" class="cursor-pointer font-semibold leading-6 text-primary-600 hover:text-primary-500"
        >Créez en un maintenant</a
      >
    </p>
  </div>
</div>
