<ul role="list" class="mt-3 grid grid-cols-1 gap-5 sm:grid-cols-2 sm:gap-6 lg:grid-cols-4">
  @for (wallet of wallets; track $index) {
    <li
      class="group col-span-1 flex h-20 cursor-pointer overflow-hidden rounded-md border border-white shadow-sm transition-all hover:scale-105"
      (click)="openWallet(wallet.walletId)"
    >
      <div
        class="flex size-20 flex-shrink-0 items-center justify-center rounded-md bg-white text-2xl font-medium capitalize text-primary-600/50"
      >
        {{ wallet.title | slice: 0 : 2 }}
      </div>
      <div
        class="flex flex-1 items-center justify-between truncate border-gray-200 bg-primary-50/50 backdrop-blur-lg transition-all group-hover:bg-primary-50/80"
      >
        <div class="flex-1 truncate px-4 py-2 text-sm">
          <a class="font-medium text-gray-900 hover:text-gray-600">{{ wallet.title }}</a>
          <p class="text-gray-500">{{ wallet.responsable }}</p>
        </div>
        <div class="flex-shrink-0 pr-2">
          <button
            type="button"
            class="focus:ring-indigo-500 inline-flex h-8 w-8 items-center justify-center rounded-full bg-transparent bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2"
          >
            <span class="sr-only">Open options</span>
            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path
                d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z"
              />
            </svg>
          </button>
        </div>
      </div>
    </li>
  }
</ul>
