<div class=" flex flex-col my-10 px-4 sm:px-8 lg:px-12 gap-5">
  <div class="flex flex-row place-content-between">
    <h1>
      Modules
    </h1>
    <button class="bg-primary-500 rounded-lg p-2 text-sm flex flex-row w-fit" (click)="onNewModuleClk()">
      Nouveau&nbsp;module
    </button>
  </div>
  <div class="bg-gray-200 rounded-xl w-full p-3 flex flex-col gap-3">
    <div *ngFor="let module of modules"
         class="w-full h-fit rounded-xl bg-gray-50 p-3 hover:cursor-pointer" (click)="viewModule(module.id)">
      <div class="w-full h-fit flex flex-row place-content-between">
        <div class="flex flex-col gap-2 w-1/2 h-fit">
          <div class="underline font-bold">
            {{module.name}}
          </div>
          <div>
            {{module.description}}
          </div>
        </div>
        <div>
          <div class="flex flex-col gap-2 w-1/2 h-fit">
            <div class="underline font-bold">
              Responsable
            </div>
            <div *ngIf="module.responsable">
              {{module.responsable.name}}
              {{module.responsable.firstName}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
