<td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-light text-gray-700 sm:pl-3">Lindsay Walton</td>
<td class="whitespace-nowrap px-3 py-4 text-sm font-light text-gray-700">Front-end Developer</td>
<td class="whitespace-nowrap px-3 py-4 text-sm font-light text-gray-700">lindsay.waltonexample.com</td>
<td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3">
  <a href="#" class="text-primary-600 hover:text-primary-900">Edit<span class="sr-only">, Lindsay Walton</span></a>
</td>
