<td class="whitespace-nowrap py-4 text-sm font-light text-gray-700 pr-3" [ngClass]="isEditEnabled ? 'pl-0' : 'pl-3'">
  @if (isEditEnabled) {
    <input
      type="text"
      name="subCompetenceName"
      id="subCompetenceName"
      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6"
      placeholder="Nom de la sous compétence"
      [(ngModel)]="subCompetence.name"
    />
  } @else {
    {{ subCompetence.name }}
  }
</td>

<td class="whitespace-nowrap py-4 text-sm font-light text-gray-700" [ngClass]="isEditEnabled ? 'px-0' : 'px-3'">
  @if (isEditEnabled) {
    <input
      type="text"
      name="subCompetenceDescription"
      id="subCompetenceDescription"
      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6"
      placeholder="Description de la sous compétence"
      [(ngModel)]="subCompetence.description"
    />
  } @else {
    {{ subCompetence.description }}
  }
</td>
<td class="whitespace-nowrap px-3 py-4 text-sm font-light text-gray-700">
  <app-competence-level-chip [skill]="subCompetence.skill" [isEditable]="isEditable"></app-competence-level-chip>
</td>
<td class="relative min-w-16 whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3">
  <span (click)="toggleEdit()" [ngClass]="isEditable ? 'cursor-pointer text-primary-600' : ' cursor-not-allowed text-gray-400'">
    @if (isEditEnabled) {
      Terminer
    } @else {
      Éditer
    }
  </span>
</td>
