<table class="min-w-full">
  <thead class="bg-white">
    <tr>
      <th scope="col" class="py-3.5 pl-4 pr-3 text-left  font-medium text-gray-900 sm:pl-3 w-1/4">Compétence</th>
      <th scope="col" class="px-3 py-3.5 text-left font-medium text-gray-900 w-1/2">Description</th>
      <th scope="col" class="px-3 py-3.5 text-left font-medium text-gray-900 w-1/5">Niveau</th>
      <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-3 w-fit">
        <span class="sr-only">Edit</span>
      </th>
    </tr>
  </thead>

  <tbody class="bg-white *:border-t *:border-gray-200">
    <tr class="">
      <th colspan="4" scope="colgroup" class="bg-gray-50 py-3 pl-4 pr-3 text-left text-sm font-medium text-gray-900 sm:pl-3">
        Titre de la compétence ici
      </th>
    </tr>

    <tr class="" competency-row></tr>
    <tr class="" competency-row></tr>
    <tr class="" competency-row></tr>

    <!-- More people... -->
  </tbody>
</table>
